<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit Car: <%= car.marka %></h3>
                </div>
                <div class="card-body p-4">
                    <form action="/car/update/<%= car._id %>" method="post" id="add-form">
                        <div class="mb-3">
                            <label for="marka">Marka</label>
                            <input type="text" name="marka" class="form-control form-control-lg" placeholder="Opel" value="<%= car.marka %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="model">Model</label>
                            <input type="text" name="model" class="form-control form-control-lg" placeholder="G432" value="<%= car.model %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="VIN">VIN</label>
                            <input type="text" name="VIN" class="form-control form-control-lg" placeholder="DFJ435GF435345FDG" value="<%= car.VIN %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="regnum">Reg-num</label>
                            <input type="text" name="regnum" class="form-control form-control-lg" placeholder="NS-123GG" value="<%= car.regnum %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="created2">Current Date</label><br>
                            <input name="created-c" class="form-control form-control-lg" disabled value=" <%= car.created.toLocaleDateString('en-GB') %>">
                        </div>
                        <div class="mb-3">
                            <label for="created">Created</label>
                            <input type="date" name="created" class="form-control form-control-lg" value="Update Car" required>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Update Car">
                        </div>
                    </form>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>